{{- if .Values.cleanupJob.enabled -}}
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: {{ include "backup.fullname" . }}-cleanup
  labels:
    {{- include "backup.labels" . | nindent 4 }}
spec:
  schedule: {{ .Values.cleanupJob.schedule }}
  jobTemplate:
    spec:
      template:
        spec:
          {{- with .Values.imagePullSecrets }}
          imagePullSecrets:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          securityContext:
            {{- toYaml .Values.cleanupJob.securityContext | nindent 12 }}
          containers:
          - name: backup
            image: "{{ .Values.cleanupJob.image.repository }}:{{ .Values.cleanupJob.image.tag }}"
            imagePullPolicy: {{ .Values.cleanupJob.image.pullPolicy }}
            {{- if .Values.cleanupJob.command }}
            command:
              {{- toYaml .Values.cleanupJob.command | nindent 14 }}
            {{- end }}
            args:
            {{- if .Values.cleanupJob.args }}
              {{- toYaml .Values.cleanupJob.args | nindent 14 }}
            {{- else }}
              - --no-cache
              - --verbose
              - --repo
              - {{ .Values.repo }}
              - forget
              - --prune
              - --keep-daily
              - {{ .Values.cleanupJob.keepDaily | quote }}
              - --keep-weekly
              - {{ .Values.cleanupJob.keepWeekly | quote }}
              - --keep-monthly
              - {{ .Values.cleanupJob.keepMonthly | quote }}
              - --keep-yearly
              - {{ .Values.cleanupJob.keepYearly | quote }}
            {{- end }}
            envFrom:
              - secretRef:
                  name: {{ .Values.secretName }}
            resources:
              {{- toYaml .Values.cleanupJob.resources | nindent 14 }}
          restartPolicy: {{ .Values.cleanupJob.restartPolicy }}
          {{- with .Values.cleanupJob.nodeSelector }}
          nodeSelector:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- if .Values.cleanupJob.affinityLabels }}
          affinity:
            podAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                - labelSelector:
                    matchLabels: {{ toYaml .Values.cleanupJob.affinityLabels | nindent 22 }}
                  topologyKey: "kubernetes.io/hostname"
          {{- else }}
          {{- with .Values.cleanupJob.affinity }}
          affinity:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- end }}
          {{- with .Values.cleanupJob.tolerations }}
          tolerations:
            {{- toYaml . | nindent 12 }}
          {{- end }}
{{- end }}
